.btn-color {
    background-color:  rgb(138, 60, 211);
    border-color:  rgb(138, 60, 211);
}

.border-color {
    background-color: whitesmoke;
    border-color: whitesmoke;
}

.body-color {
    background-color:  rgb(205, 171, 238);
}