section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
}
.wrapper-n {
    position: relative;
    overflow-x: hidden;
}
.menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    transition: 0.5s;
    transform: translateX(100%);
}
.menu-active {
    transform: translateX(0%);
}

.menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
/* .menu-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    left: -35px;
    bottom: 10px;
} */
.icon {
    color: blanchedalmond;
    white-space: nowrap;
    outline: none;
}
/* .icon:active {
    color: blanchedalmond;
}
.icon[tabindex]:focus {
    color: gray;
    outline: none;
}*/
.btn-home {
    font-size: x-large;
}
.icon-active {
    color: gray;
    outline: none;
}
::-webkit-input-placeholder {
    text-align: center;
 }
 .login-form {
    text-align: center;
    border: 6px solid rgba(255, 255, 255, 0.15);
}
.wrapper-l {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pipl.jpg');
    background-size: auto 100%;
  }
.pipl-l {
    display: flex;
    justify-content: center;
    margin-top: 0%;
    font-size: 25vh;
    backdrop-filter: blur(4px);
}
